<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&amp;family=Roboto&amp;display=swap">
   
</head>
<body>
    <header>
        <h1>Bienvenido a Mercado Liebre</h1>

        <img src="/public/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <form>
            <input type="text" placeholder="Buscar productos..." aria-label="Search">
            <button></button>
        </form>

        <p>Compra en cuotas y sin tarjeta de crédito</p>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>

    </header>

    <section>
        @yield('contenido')

    </section>

    <section>
        <article>
            <img src="" alt="">
            <h2>Titulo del Articulo 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptatum quae eius ipsam nisi repudiandae fugiat? Iste, temporibus.</p>
        </article>

    </section>

    <footer>
        © Todos los derechos reservados | Diseñado por: Ingeniero en Sistemas
    </footer>


    
</body>
</html>