<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&amp;family=Roboto&amp;display=swap">
   
</head>
<body>
    <header>
        <section class="container">

            <div>
                <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">

            </div>
            <div>
                <form>
                    <input type="text" placeholder="Buscar productos..." aria-label="Search">
                    <button></button>
                </form>

            </div>
            <div>
                <p>Compra en cuotas y sin tarjeta de crédito</p>

                <nav>
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <br>
                        <li><a href="#">Creá tu cuenta</a></li>
                        <li><a href="#">Ingresá</a></li>
                        <li><a href="#">Mis compras</a></li>
                    </ul>
                </nav>


            </div>
    
        </section>
        
    </header>

    
    <footer>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
   
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
   
        <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
   
   
    </footer>


    
</body>
</html>